.playlistItem {
  width: 100%;
  display: block;
  margin-bottom: 12px;
  cursor: pointer;
}

.playlistTrack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trackTitle {
  display: flex;
  align-items: center;
  width: 447px;
}

.trackTitleImage {
  width: 51px;
  height: 51px;
  padding: 16px;
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
}

.trackTitleImageActive {
  position: relative;
}

@keyframes pulsation {
  from {
    scale: 1;
  }
  to {
    scale: 0.8;
  }
}

.trackTitleImageActive::before {
  content: "";
  position: absolute;
  margin: auto;
  width: 25px;
  height: 25px;
  background: #ad61ff;
  border-radius: 50%;
}

.trackTitleActiveAnimation::before {
  animation: pulsation 0.2s infinite alternate;
}

.trackTitleSvg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.trackTitleText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.trackTitleLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.trackTitleSpan {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4e4e4e;
}

.trackAuthor {
  width: 321px;
  display: flex;
  justify-content: flex-start;
}

.trackAuthorLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
}

.trackAlbum {
  width: 245px;
}

.trackAlbumLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}

.trackTime {
  display: flex;
  align-items: center;
  width: 65px;
}

.trackTimeSvg {
  width: 14px;
  height: 12px;
  margin-right: 17px;
  fill: transparent;
  stroke: #696969;
}

.trackTimeSvgActive {
  fill: #ad61ff;
}

.trackTimeText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #696969;
}
