.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.barContent {
  display: flex;
  flex-direction: column;
}

.barPlayerBlock {
  height: 73px;
  display: flex;
  background: rgba(28, 28, 28, 0.5);
}

.barTime {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
}
